<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Maybelline Salvador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <header>
        <h1 class="imageContainer">
            <img class="maybellineLogo" src="/public/img/logoMaybellineBlackBackground.jpg" alt="Logo da empresa">
        </h1>
    </header>

    <main>
        <h1 class="pageTitle">Cadastro Maybelline Salvador</h1>
        <%if(registrationSuccess) {%>
        <div class="container w-50">
            <div class="alert alert-success alert-dismissible" role="alert" id="liveAlert">
                <strong>Cadastro realizado com sucesso!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <%}%>
    
            <%if(updateSuccess) {%>
        <div class="container w-50">
            <div class="alert alert-success alert-dismissible" role="alert" id="liveAlert">
                <strong>Cadastro atualizado com sucesso!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <%}%>
        <%if(cpfExists) {%>
        <div class="container w-50">
            <div class="alert alert-danger alert-dismissible" role="alert" id="liveAlert">
                <strong>CPF já está cadastrado!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <%}%>
            <%if(cpfNotFound) {%>
        <div class="container w-50">
            <div class="alert alert-danger alert-dismissible" role="alert" id="liveAlert">
                <strong>CPF não cadastrado!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <%}%>
        <div class="container">
            <div class="row">
                <a class="col btn btn-dark m-2 pt-3 pb-3" role="button" href="aeroporto">
                    Aeroporto
                </a>
                <a class="col btn btn-dark m-2 pt-3 pb-3" role="button" href="bahia">
                    Shopping da Bahia
                </a>
                <a class="col btn btn-dark m-2 pt-3 pb-3" role="button" href="barra">
                    Shopping Barra
                </a>
            </div>
            <div class="row">
                <a class="col btn btn-dark m-2 pt-3 pb-3" role="button" href="itaigara">
                    Shopping Itaigara
                </a>
                <a class="col btn btn-dark m-2 pt-3 pb-3" role="button" href="paralela">
                    Shopping Paralela
                </a>
                <a class="col btn btn-dark m-2 pt-3 pb-3" role="button" href="parque">
                    Parque Shopping
                </a>
            </div>
            <div class="row">
                <a class="col btn btn-dark m-2 pt-3 pb-3" role="button" href="salvador">
                    Salvador Shopping
                </a>
                <a class="col">
                </a>
                <a class="col">
                </a>
            </div>
        </div>
    </main>

    <footer class="mt-5">
        <h1 class="imageContainer">
            <img class="maybellineLogo" src="/public/img/logoMaybellineBlackBackground.jpg" alt="Logo da empresa">
        </h1>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
</body>

</html>