<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Parque Shopping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <header>
        <h1 class="imageContainer">
            <img class="maybellineLogo" src="/public/img/logoMaybellineBlackBackground.jpg" alt="Logo da empresa">
        </h1>
    </header>

    <main>
        <h1 class="pageTitle">Cadastro Parque Shopping</h1>

        <section class="container">
            <a class="btn btn-danger mb-4" href="/" role="button">Escolher outro quiosque</a>
            <form class="searchSection" action='/search' method='POST'>
                <div class="mb-2 searchCPF">
                    <label for="searchCPF" class="form-label">CPF</label>
                    <input name='cpf' type="text" class="form-control" id="searchCPF">
                </div>
                <button type="submit" class="searchButton btn btn-dark">Pesquisar</button>
            </form>
            <hr>
        </section>
        <section class="registerSection container">
            <form action='/' method='POST'>
                <div class="mb-3">
                    <label for="sellersName" class="form-label">Quiosque</label>
                    <input name='quiosque' type="text" class="form-control" id="quiosque" value="Parque" readonly>
                </div>
                <div class="mb-3">
                    <label for="sellersName" class="form-label">Vendedora</label>
                    <input name='vendedora' type="text" class="form-control" id="sellersName" required>
                </div>
                <div class="mb-3">
                    <label for="clientsName" class="form-label">Nome da Cliente</label>
                    <input name='cliente' type="text" class="form-control" id="clientsName" required>
                </div>
                <div class="mb-3">
                    <label for="clientsCPF" class="form-label">CPF</label>
                    <input name='cpf' type="text" class="form-control" id="clientsCPF" required>
                </div>
                <div class="mb-3">
                    <label for="clientsBirthday" class="form-label">Data de Nascimento</label>
                    <input name='nascimento' type="date" class="form-control" id="clientsBirthday" required>
                </div>
                <div class="mb-3">
                    <label for="clientsNeighborhood" class="form-label">Bairro</label>
                    <input name='bairro' type="text" class="form-control" id="clientsNeighborhood" required>
                </div>
                <div class="mb-3">
                    <label for="clientsPhone" class="form-label">Número de Telefone</label>
                    <input name='telefone' type="tel" class="form-control" id="clientsPhone" required>
                </div>
                <div class="mb-2">
                    <label for="purchaseAmount" class="form-label">Valor da Compra</label>
                    <input name='compra' type="number" class="form-control" id="purchaseAmount" min=0 step=".01"
                        required>
                </div>
                <button type="submit" class="btn btn-dark">Cadastrar</button>

            </form>
        </section>
    </main>

    <footer class="mt-5">
        <h1 class="imageContainer">
            <img class="maybellineLogo" src="/public/img/logoMaybellineBlackBackground.jpg" alt="Logo da empresa">
        </h1>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
        integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            $('#clientsPhone').mask('(00) 0 0000-0000');
            $('#clientsCPF').mask('000.000.000-00');
            $('#searchCPF').mask('000.000.000-00');

            function showAlertSuccess() {
                alert('Cadastrado com sucesso');
            }
        });
    </script>
</body>

</html>